@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes scroll-carousel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-75%);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-spin-slow {
    animation: spin-slow 20s linear infinite;
  }

  .animate-scroll {
    animation: scroll-carousel 40s linear infinite;
  }

  .animate-fadeIn {
    animation: fadeIn 0.2s ease-out;
  }
}
